%h1 Listing electorates

.container
	.wood
		.board
			.row
				- @electorates.each_with_index do |electorate, i|
					.span3.offset1.space
						=link_to "#{electorate.title}", electorate_path(electorate.title.downcase)
						=electorate.state
