%h1 Listing electorates

%table
	%tr
		%th Title
		%th State

	- @electorates.each do |electorate|
		%tr
			%th= link_to "#{electorate.title}", electorate_path(electorate.title.downcase)
			%td= electorate.state

%br

= link_to 'New Electorate', new_electorate_path
