.container
	.wood
		.board
			.row
				.span6.offset3
					%h1 Enter your postcode to see how smart your politician is.

					%form.well
						%fieldset
							%legend Search for a Pollie by a Postcode
							.control-group
								%label.control-label{:for => "q"}
									Enter your postcode here
								.controls
									%input.input-xlarge{:type=>"text",:id => "q", :name => "q"}	
									%intput.btn.btn-success{:type => "submit"} Go!